= simple_form_for(@founding_source) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :balance
    = f.input :nature, collection: [:debit, :credit]

  .form-actions
    = f.button :submit
