%p#notice= notice
%h1 Incomes
%table
  %thead
    %tr
      %th Ammount
      %th Recurrent
      %th Recurrent start date
      %th Recurrent days
      %th Description
      %th Name
      %th{:colspan => "3"}
  %tbody
    - @incomes.each do |income|
      %tr
        %td= income.ammount
        %td= income.recurrent
        %td= income.recurrent_start_date
        %td= income.recurrent_days
        %td= income.description
        %td= income.name
        %td= link_to 'Show', income
        %td= link_to 'Edit', edit_income_path(income)
        %td= link_to 'Destroy', income, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Income', new_income_path
