= simple_form_for(account) do |f|
  = f.input :name
  = f.input :balance
  = f.input :nature, collection: [:debit, :credit]

  - if account.errors.any?
    #error_explanation
      %h2
        = pluralize(account.errors.count, "error")
        prohibited this account from being saved:
      %ul
        - account.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.submit
